{
  "appId": "your_app_id_here",
  "appCertificate": "your_app_certificate_here",
  "restKey": "your_rest_key_here",
  "restSecret": "your_rest_secret_here",
  "pipelineId": "your_pipeline_id_here"
}

